<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs') %>
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main> 
    <% if(prods.length>0) { %>
  <div class="grid"> 
    <% prods.map((product)=>{ %> 
  <article class="'card product-item">
    <header>
      <h1>
        <%= product.title %>
      </h1>
    </header>
    <div>
      <img src="https://assets.virtualrecruitmentdays.com/layout53/thumbnails/gold.png">
    </div>
    <div class="card__content">
      <h2 class="product__price">19$</h2>
      <p class="product__description">Add to Cart</p>
    </div>
  </article>
  <% }) %> 
  </div>
  <% } else { %>
    <h1>No Products Found</h1>
    <% } %>
  </main>
</body>
</html>